.f1 {
  font-family: 'Montserrat Alternates';
}

.f2 {
  font-family: sans-serif;
}

/* palette dei colori */
:root {
  --tot-c: #EEF8FF;
  --main-c: #658E9C;
  --sec-c: #4D5382;
}

/* classi font e bottoni */
.tx-sec {
  color: var(--sec-c);
}

.text_shadow {
  text-shadow: 1px 1px #1413133f;
}

.tot {
  /* background-color: var(--main-c); */
  background-color: var(--main-c);
  opacity: 0.8;
}

.btn_custom {

  background-color: #4D5382;

  border-radius: 30px !important;

}

.bg_blu {

  background-color: #658E9C;


}

.logo {
  width: 125px;
}

.nav_custom {

  border-radius: 0px 0px 20px 20px;

  box-shadow: 10px 10px 5px lightgrey;
}

body {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  background-color: #EEF8FF;
}

#nav {
  margin-top: auto;
}

.quote {
  width: 100px;
}

.swiper-slide {
  height: 100%;
}

.search {
  width: 170px;
  height: 50px;

}